/*--- LOGO ---*/

:root {
  --hover-text-color: #2196f3;
  --text-hero-black: #212121;
  --text-gray: #757575;
  --background-color: #2f303a;
  --white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

Img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-hero-black);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*--- HEADER---*/

.header .logo {
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}
.logo-accent {
  color: var(--text-hero-black);
}

.navigation .link.current {
  color: var(--hover-text-color);
}
.current {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-text-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-hero-black);
}

.navigation {
  display: flex;
  margin: 0;
}

.navigation .item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.navigation .item:last-child {
  margin-right: 0;
}

.header .container {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

.header-connect {
  margin-left: auto;
}

.navigation-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  position: relative;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-content:hover,
.navigation-content:focus {
  color: var(--hover-text-color);
}

.header-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-gray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-info:hover,
.header-info:focus {
  color: var(--hover-text-color);
}

.header-info:hover .icon-mail {
  fill: var(--hover-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  fill: var(--text-gray);
}

/* --- MAIN ---*/

.hero .container {
  width: 1200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;

  color: var(--white-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-hero {
  padding: 10px 32px;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* identical to box height, or 188% */
  text-align: center;
  display: flex;
  margin: 0 auto;

  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--hover-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

.future {
  padding-bottom: 0;
}

.future-list {
  display: flex;

  justify-content: space-between;
}

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-hero-black);
}
.advantage-block:last-child {
  margin-right: 0;
}

.advantage-block {
  margin-right: 30px;
}

.futures-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-future {
  width: 65px;
  height: 75px;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-gray);
}

/*--- ABOUT ---*/

.about-and-team {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-hero-black);
}

.about-us {
  display: flex;
}

.about-we-work {
  position: relative;
}

.about-we-work:not(:last-child) {
  margin-right: 30px;
}

.about-img {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.skill-text {
  width: 100%;
  padding: 27px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*--- TEAM ---*/

.team-developer {
  display: flex;
}

.team {
  background-color: #f5f4fa;
}

.time-img {
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  border-radius: 0px;
}

.team-people {
  padding: 30px 32px;
}

.time-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.time-vacancy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: #757575;
}

.team-bkcolor {
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-bkcolor:not(:last-child) {
  margin-right: 30px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: var(--hover-text-color);
}

.masters-soc-link:hover .masters-soc-icon,
.masters-soc-link:focus .masters-soc-icon {
  fill: var(--white-color);
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.clients-list {
  display: flex;
}

.our-container + .our-container {
  margin-left: 30px;
}

.our-clients-icon {
  fill: currentColor;
}

.our-clients-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-image:hover {
  border: 1px solid #2196f3;
  /* border-radius: 4px; */
  color: var(--hover-text-color);
}

/*--- FOOTER ---*/

.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-style {
  background-color: #2f303a;
}

.address {
  font-style: normal;
}

.footer-addres {
  font-family: 'Roboto';

  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  margin-top: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}

.footer-info-box {
  margin-top: 9px;
}

.footer-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info:hover,
.footer-info:focus {
  color: var(--hover-text-color);
}

.footer-logo-accent {
  color: var(--white-color);
}

.add-container {
  display: flex;
  align-items: baseline;
}

.footer-soc {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icons {
  fill: currentColor;
}

.footer-link:hover {
  background-color: var(--hover-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list {
  display: flex;
}

.footer-div {
  margin-left: 70px;
}

.footer-icon + .footer-icon {
  margin-left: 10px;
}

.online-div {
  margin-left: 93px;
  display: block;
  text-align: center;
}

.online-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  position: relative;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-btn {
  position: relative;
  margin-left: 12px;
  border: none;

  padding-top: 9px;
  padding-right: 28px;
  padding-bottom: 9px;
  /* padding-left: 28px; */
  font-weight: 700;
  font-size: 16px;
  /*  margin-left: 12px; */
  /* line-height: 1.88; */

  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background-color: var(--hover-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.post-btn:hover,
.post-btn:focus {
  background-color: #188ce8;
}

.post-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  fill: var(--white-color);
  margin-left: 10px;
}
/*--- PORTFOLIO ---*/

.section-navigation {
  padding: 94px 0;
}

.navigation-list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.navigation-list-button:not(:last-child) {
  margin-right: 8px;
}

.button-nav-hero {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  /* identical to box height, or 162% */
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.button-nav-hero {
  background-color: var(--hover-text-color);
}

.button-nav {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  /* identical to box height, or 162% */
  padding: 6px 22px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav:hover,
.button-nav:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.app-img {
  display: block;
}

.app-img:hover,
.app-img:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.about-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  box-sizing: border-box;
}

.portfolio {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio:nth-child(3n) {
  margin-right: 0;
}

.portfolio-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  margin-bottom: 4px;
  letter-spacing: 0.06em;

  color: var(--text-hero-black);
}

.portfolio-content-pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.app-img:hover .portfolio-text,
.app-img:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-text {
  height: 100%;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- BACKDROP ---*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateY(100%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--text-hero-black);
}

.position {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: transparent;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-input:hover, */
.modal-input:focus {
  border-color: var(--hover-text-color);
}

/* .modal-input:hover, */
.modal-input:focus + .input-icon {
  fill: var(--hover-text-color);
}

.texarea {
  width: 100%;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.texarea:focus {
  border-color: var(--hover-text-color);
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  margin-left: 0;

  letter-spacing: 0.01em;

  color: var(--text-gray);
}

.input-wrap {
  position: relative;
}

.input-icon {
  width: 18px;
  height: 18px;

  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-75%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-x {
  background-color: #ffffff;
}

.close-button {
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.7;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: var(--text-gray);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.check-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 0%;
  left: 0%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox-link {
  color: var(--hover-text-color);
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--hover-text-color);
  border: var(--hover-text-color);
  border-radius: 2px;
}

.modal-check:checked + .modal-check-text .check-icon {
  fill: var(--white-color);
}

.modal-check-text span {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;

  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .modal-check:checked + .modal-check-text:before {
  background-color: red;
} */

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  color: var(--white-color);
  background-color: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
